apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-nginx-default-conf
  namespace: static-site
  labels:
    app.kubernetes.io/name: nginx
    app.kubernetes.io/managed-by: compose2k8s
data:
  default.conf: |
    server {
        listen 80;
        server_name _;

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }
    }
